
body {
    background-color: rgb(31, 193, 193);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.container {
    padding: 20px;
    width: 30%;
    margin: auto;
    margin-top: 150px;
    text-align: center;   
    background-color: rgb(246, 246, 246);
    box-shadow: 5px 5px 28px #888888;
}

h1 {
    padding-bottom: 15px;
    color: black;
}

input {
    width: 200px;
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 32px;
    color: black;
}

.submitbtn {
    width: 230px;
    border-radius: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(40, 184, 184);
    color: white;
}

.submitbtn:hover {
    background-color: rgb(11, 139, 139);
}

.error_form {
    color: red;
}

.btngrp {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    text-align: center;
    background-color: rgb(40, 184, 184);
    color: white;
    cursor: pointer;
}

.btngrp:hover {
    background-color: rgb(11, 139, 139);
}

#user {
    color: black;
    padding-bottom: 20px;
}