$light-color : #f4f4f4;
$font-stack : Arial, Helvetica, sans-serif;
$color_1: white;
$color_2: rgb(255, 255, 255);
$color_3: rgb(222, 105, 105);
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: steelblue;
$background-color_2: rgb(63, 57, 57);
$background-color_3: rgb(21, 21, 40);
$background-color_4: rgb(222, 105, 105);
$background-color_5: rgb(185, 125, 75);